.landing {
  height: 100vh;
  background: linear-gradient(to bottom, $timberwolf 70%, $russianGreen);
}

.landingContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.landingContainer h1 {
  text-transform: uppercase;
  letter-spacing: 7px;
  color: black;
}

.landingText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 250px;
}

.landingText p {
  text-transform: uppercase;
}

.questions {
  height: 100vh;
  background: linear-gradient(to top, $timberwolf 60%, $russianGreen);
}

.questionForm {
  height: 100%;
  display: none;

}

label {
  flex: 1 1 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

label span {
  background: lightblue;
  padding: 20px;
}

input[type="radio"] {
  position: fixed;
}

input[type="radio"]:checked ~ span {
  color: red;
}

.treeSlide {
  min-height: 100%;
  max-height: auto;
  display: none;
}

.active {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.treeSlide.active .treeSlideLeft,
.treeSlide.active .treeSlideRight {
  flex: 1 1 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.treeSlideLeft {
  display: flex;
  flex-direction: column;
}

.treeName {
  margin: 0 0 10px 0;
}

.treeLatin {
  margin: 10px 0;
  font-style: italic;
}

.treeDesc {
  max-width: 250px;
  margin: 20px 0 0 0;
  letter-spacing: -1px;
  line-height: 1.3;
}

.treeImgContainer {
  // height: 300px;
  // overflow: hidden;
}

.treeSlide img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}

.btnNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

button {
  background: $pistachio;
  border: none;
  padding: 10px 30px;
  border-radius: 4px;
}

.nextBtn {
  pointer-events: none;
  
}

.nextBtn.activeBtn {
  pointer-events: auto;
}

.previousBtn {
  pointer-events: none;
}

.previousBtn.activeBtn {
  pointer-events: auto;
}