.landing {
  height: 100vh;
  background: linear-gradient(to bottom, $timberwolf 70%, $russianGreen);
}

.landingContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.landingContainer h1 {
  text-transform: uppercase;
  letter-spacing: 7px;
  text-shadow: 0 0 5px $fernGreen;
  color: black;
}

.landingText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 250px;
}

.landingText p {
  text-transform: uppercase;
}

.questions {
  height: 100vh;
  background: linear-gradient(to top, $timberwolf 60%, $russianGreen);
}

.questionForm {
  height: 90%;
  display: none;

}

// .questionFormActive {
//   display: flex;
// }



label {
  flex: 1 1 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

input[type="radio"] {
  position: fixed;
}

input[type="radio"]:checked ~ span {
  color: red;
  // text-shadow: 0 0 5px black;
}

.treeSlide {
  height: 90%;
  display: none;
}

// .treeSlideActive {
//   display: flex;
// }

.active {
  display: flex;
}

.treeSlide.active .treeSlideLeft,
.treeSlide.active .treeSlideRight {
  flex: 1 1 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.treeSlideLeft {
  display: flex;
  flex-direction: column;
}

.treeImgContainer {
  height: 300px;
  // overflow: hidden;
}

.treeSlide img {
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.btnNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

button {
  background: $pistachio;
  border: none;
  padding: 10px 30px;
  border-radius: 4px;
}

.nextBtn {
  pointer-events: none;
  
}

.nextBtn.activeBtn {
  pointer-events: auto;
}

.previousBtn {
  pointer-events: none;
}

.previousBtn.activeBtn {
  pointer-events: auto;
}