
// ------- LANDING PAGE 
.landing {
  height: 100vh;
  background: linear-gradient(to bottom, $neutral 70%, $russianGreen);
}

.landingContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.landingContainer h1 {
  text-transform: uppercase;
  letter-spacing: 7px;
  color: black;
  text-align: center;
  font-size: 4rem;
}

.landingText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 250px;
  text-align: center;
}

.landingText p {
  text-transform: uppercase;
}

.landing a {
  text-transform: uppercase;
  background: $highlight;
  padding: 10px 30px;
  border-radius: 4px;
  display: inline-block;
  box-shadow: 0 0 5px black;
}

.landing a:hover {
  box-shadow: 0 0 5px $neutral;
}

// -------------- Question Forms

.questions {
  height: 100vh;
  background: linear-gradient(to top, $neutral 60%, $russianGreen);
}

.questionForm {
  height: 100%;
  display: none;

}

.questionForm label {
  flex: 1 1 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.questions label:hover {
  cursor: pointer;
}

.questionForm label span {
  border: solid 0 $highlight;
  padding: 20px;
  border-radius: 4px;
  text-transform: uppercase;
  transition: border 0.2s ease-in,
    font-size 0.5s ease-in,
    padding 0.5s ease-in;
}

input[type="radio"] {
  position: fixed;
}

input[type="radio"]:checked ~ span {
  color: $secondaryHighlight;
  font-size: 2rem;
}


input[type="radio"]:hover ~ span,
input[type="radio"]:focus ~ span {
  border: solid 1px $secondaryHighlight;
  box-shadow: 0 0 5px $secondaryHighlight;
}

// ------------------- TREE PAGE 

.treeSlide {
  min-height: 100%;
  max-height: auto;
  display: none;
}

.active {
  display: flex;
  align-items: center;
}

.treeSlide.active {
  flex-wrap: wrap;
}


.treeSlide.active .treeSlideLeft,
.treeSlide.active .treeSlideRight {
  flex: 1 1 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.treeSlideLeft {
  display: flex;
  flex-direction: column;
}

.treeName {
  margin: 0 0 10px 0;
  text-transform: uppercase;
}

.treeLatin {
  margin: 10px 0;
  font-style: italic;
}

.treeDesc {
  max-width: 250px;
  margin: 20px 0 0 0;
  letter-spacing: -1px;
  line-height: 1.3;
}

.treeDescCredit a {
  color: $secondaryHighlight;
  text-decoration: underline;
}

.treeDescCredit a:hover,
.treeDescCredit a:focus {
  opacity: 0.5;
}

.treeFigure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.treeSlide img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.treeSlide .treeDescCredit,
.treeSlide .treeImageCaption {
  font-style: italic;
  font-size: 1.4rem;
}

.treeSlide .treeDescCredit,
.treeSlide .treeImageCaption:first-of-type {
  margin: 20px 0 0 0;
}

// Button Navigation 

.btnNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

button {
  background: $highlight;
  border: none;
  padding: 10px 30px;
  border-radius: 4px;
}

.previousBtn,
.againBtn,
.nextBtn {
  pointer-events: none;
  color: rgba(0,0,0,0.3);
  background: rgba($highlight, 0.3);
}

.nextBtn.activeBtn,
.againBtn.activeBtn,
.previousBtn.activeBtn {
  pointer-events: auto;
  color: black;
  background: $highlight;
}


.nextBtn.activeBtn:hover,
.nextBtn.activeBtn:focus,
.againBtn.activeBtn:hover,
.againBtn.activeBtn:focus,
.previousBtn.activeBtn:hover,
.previousBtn.activeBtn:focus {
  box-shadow: 0 0 7px $secondary;
  cursor: pointer;
}