$neutral: #DADDD8;
$main: #659B5E;
$secondary: #556F44; 
$highlight: #95BF74;
$secondaryHighlight: #ee5d09;

@mixin serifFont {
    font-family: 'Noto Serif', serif;
}

@mixin sansSerifFont {
    font-family: 'Noto Sans', sans-serif;
}