$timberwolf: #DADDD8;
$pistachio: #95BF74;
$russianGreen: #659B5E;
$fernGreen: #556F44;
$darkSlateGrey: #283F3B;

$neutral: #DADDD8;
$main: #659B5E;
$secondary: #556F44; 
$highlight: #95BF74;
$secondaryHighlight: #ee5d09;

// rgb(238, 93, 9);

@mixin serifFont {
    font-family: 'Noto Serif', serif;
}

@mixin sansSerifFont {
    font-family: 'Noto Sans', sans-serif;
}